.root{
    display: inline;
    padding: 5px 10px;
    border: 2px solid rgb(158, 105, 6);
    border-radius: 10px;
}

.disabled{
    opacity: 0.2;
}
.s{
    font-size: 12px;
    padding: 1px 2px;
}
.m{
    font-size: 16x;
    padding: 2px 4px;
}
.l{
    font-size: 20px;
    padding: 3px 6px;
}
.dark {
    background-color: rgb(0, 0, 0);
    color: white;
  }
.default{
    background-color: aliceblue;
    color: black;
}
.invisible {
    display: none;
  }
